* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: byekan;
    src: url(fonts/Byekan.ttf) format(truetype),
    url(fonts/Byekan.woff) format(woff);
}
@font-face {
    font-family: lalezar;
    src: url(fonts/lalezar.ttf) format(truetype),
        url(fonts/lalezar.woff) format(woff);
}
body {
    font-family: byekan;
    color: white;
}
.head {
    background-image: url(image/background.png);
    height: 965px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.nav-list {
    text-align: center;
}
.nav-item {
    display: inline-block;
}
.nav-a {
    display: flex;
    padding: 30px;
    font-size: 26px;
    text-decoration: none;
    color: white;
}
.nav-a:hover {
    color: orange;
}
#home{
    font-size: 75px;
    font-family: lalezar;
    margin-top: 140px;
}
#home span {
    font-size: 85px;
    color: orange;
    font-family: Lalezar;
}
.matn {
    margin-top: 30px;
    font-size: 20px;
    border: 1.5px solid #000000;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.30);
    width: 550px;
    margin: auto;
    line-height: 2.5;
}
.members {
    color: black;
    text-align: center;
    padding: 50px 30px;
}
.members h2 {
    font-size: 35px;
    color: #000000;
    margin-bottom: 30px;
}
.membet-list{
    list-style: none;
}
.member-item {
    width: 350px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0 0 10px #bbbbbb;
}
.member-pic {
    width: 100%;
}
.name {
    font-size: 30px;
    margin-top: 7px;
}
.bio{
    padding: 20px;
    font-size: 17.5px;
    text-align:justify;
    line-height: 2;
}
html {
    scroll-behavior: smooth;
}